body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #1b1c1d;
}

#mainGrid {
    width: 50%;
    min-width: 500px;
    text-align: center;
    margin: auto;
}

.row {
    display: block!important;
}

#submit {
    text-align: center;
    transition: all 0.5s ease 0s;
}

#mainHeader {
    color: white!important;
}