body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #1b1c1d;
}

#mainGrid {
    position: fixed;
    top: 10%;
    width: 30%;
    left: 40%;
    text-align: center;
}

#submit {
    text-align: center;
    transition: all 0.5s ease 0s;
}

#mainHeader {
    color: white!important;
}